.main{
    width: 1000px;
    margin-left: 260px;
}

.division{
    height: 1px;
    width: 100%;
    background: #d6d6d6;
}

#nickname{
    font-family: "Microsoft YaHei UI Light";
    font-size: 32px;
    margin-bottom: 10px;
}

#followers_list{
    font-family: "Microsoft YaHei";
    font-size: 16px;
    margin-right: 20px;
	color: #d3145a;
    cursor: pointer;
}
#pick_list{
    font-family: "Microsoft YaHei";
    font-size: 16px;
    margin-right: 40px;
    color: #d3145a;
    cursor: pointer;
}

#edit{
    font-family: "Microsoft YaHei";
    font-size: 12px;
    color: #d3145a;
    cursor: pointer;
}

#realname{
    margin-top: 10px;
    font-family: "Microsoft YaHei";
    font-size: 16px;
}

#age{
    font-family: "Microsoft YaHei";
    font-size: 16px;
}

#gender{
    font-family: "Microsoft YaHei";
    font-size: 16px;
}

#signment{
    margin-top: 10px;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    color: #d3145a;
}

#buttonAdd{
    float:left;
    margin-top: 30px;
    margin-left: 80px;
    width: 154px;
    height:154px;
    background:url("../img/button.png");
    position:relative;
}

#fileInput{
    height:154px;
    width:154px;
    font-size: 300px;
    position:absolute;
    right:0;
    top:0;
    opacity: 0;
    filter:alpha(opacity=0);
}

#headFile{
    float:left;
    margin-top: 30px;
    margin-left: 80px;
    width: 154px;
    height:154px;
    background:url("../img/button.png");
    position:relative;
}

#headUpload{
    height:154px;
    width:154px;
    font-size: 300px;
    position:absolute;
    right:0;
    top:0;
    opacity: 0;
    filter:alpha(opacity=0);
}

#submit{
    border: none;
    height: 30px;
    width: 60px;
    text-align: center;
    background: #d3145a;
    color: white;
    position:relative;
    right:-115px;
    top:30px;
}