<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Highway Grid CSS Template</title>
<!--

Highway Template

http://www.templatemo.com/tm-520-highway

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/fontAwesome.css">
        <link rel="stylesheet" href="static/css/light-box.css">
        <link rel="stylesheet" href="static/css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>

    <nav>
        <div class="logo">
            <img src="static/img/logo.png">
        </div>
      <div class="menu-icon">
        <span></span>
      </div>
    </nav>

    <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1></h1>
            </div>
        </div>
    </div>

    <div class = "part">
        <div class = "left_p"><p>发现用户</p></div>
         <div class = "right_p" id = "change-button"><p>换一批</p></div>
    <div class="user">
       <div class = "user_detail">
          <img src = "static/img/1.png" >
          <p>小蓉蓉</p>
          <button class="pick-button">查看用户</button>
       </div>
       <div class = "user_detail">
          <img src = "static/img/2.jpg">
          <p>小琦琦</p>
          <button class="pick-button">查看用户</button>
       </div>
       <div class = "user_detail">
          <img src = "static/img/3.png" onclick="select()">
          <p>小远远</p>
          <button class="pick-button">查看用户</button>
       </div>
    </div>
    </div>


    <div class="grid-portfolio" id="portfolio">
        <div class = "left_p2"><p>发现用户的图片</p></div>
        <div class="container">
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <div class="thumb">
                        <a href="static/img/8.png" data-lightbox="image-1"><div class="hover-effect">
                            <div class="hover-content">
                                <h1>小蓉蓉 <em>’photo</em></h1>
                                <p>查看更多</p>
                            </div>
                        </div></a>
                        <div style="width:350px;height:270px;overflow: hidden">
                            <div class="image">
                            <img src="static/img/8.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <div class="thumb">
                        <a href="static/img/5.png" data-lightbox="image-1"><div class="hover-effect">
                            <div class="hover-content">
                                <h1>小琦琦 <em>’photo</em></h1>
                                <p>查看更多</p>
                            </div>
                        </div></a>
                        <div style="width:350px;height:270px;overflow: hidden">
                            <div class="image">
                            <img src="static/img/5.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <div class="thumb">
                        <a href="static/img/7.png" data-lightbox="image-1"><div class="hover-effect">
                            <div class="hover-content">
                                <h1>小萱萱 <em>’photo</em></h1>
                                <p>查看更多</p>
                            </div>
                        </div></a>
                        <div style="width:350px;height:270px;overflow: hidden">
                            <div class="image">
                            <img src="static/img/7.png">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <div class="thumb">
                        <a href="static/img/9.png" data-lightbox="image-1"><div class="hover-effect">
                            <div class="hover-content">
                                <h1>小远远 <em>’photo</em></h1>
                                <p>查看更多</p>
                            </div>
                        </div></a>
                        <div style="width:350px;height:270px;overflow: hidden">
                            <div class="image">
                            <img src="static/img/9.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <div class="thumb">
                        <a href="static/img/10.png" data-lightbox="image-1"><div class="hover-effect">
                            <div class="hover-content">
                                <h1>小琦琦 <em>’photo</em></h1>
                                <p>查看更多</p>
                            </div>
                        </div></a>
                       <div style="width:350px;height:270px;overflow: hidden">
                            <div class="image">
                            <img src="static/img/10.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <div class="thumb">
                        <a href="static/img/big_portfolio_item_6.png" data-lightbox="image-1"><div class="hover-effect">
                            <div class="hover-content">
                                 <h1>小远远 <em>’photo</em></h1>
                                <p>查看更多</p>
                            </div>
                        </div></a>
                        <div class="image">
                            <img src="static/img/portfolio_item_6.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <div class="thumb">
                        <a href="static/img/big_portfolio_item_7.png" data-lightbox="image-1"><div class="hover-effect">
                            <div class="hover-content">
                                 <h1>小萱萱 <em>’photo</em></h1>
                                <p>查看更多</p>
                            </div>
                        </div></a>
                        <div class="image">
                            <img src="static/img/portfolio_item_7.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <div class="thumb">
                        <a href="static/img/big_portfolio_item_8.png" data-lightbox="image-1"><div class="hover-effect">
                            <div class="hover-content">
                                < <h1>小萱萱 <em>’photo</em></h1>
                                <p>查看更多</p>
                            </div>
                        </div></a>
                        <div class="image">
                            <img src="static/img/portfolio_item_8.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <div class="thumb">
                        <a href="static/img/big_portfolio_item_9.png" data-lightbox="image-1"><div class="hover-effect">
                            <div class="hover-content">
                                 <h1>小远远 <em>’photo</em></h1>
                                <p>查看更多</p>
                            </div>
                        </div></a>
                        <div class="image">
                            <img src="static/img/portfolio_item_9.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="load-more-button">
                    <a href="#">Load More</a>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2018 Company Name

    | Design: <a rel="nofollow" href="http://www.templatemo.com">Template Mo</a></p>
            </div>
        </div>
    </footer>






    <section class="overlay-menu">
        <div class="container">
            <div class="row">
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="/homepage">HOMEPAGE</a>
                        </li>
                        <li>
                            <a href="/explore">EXPLORE</a>
                        </li>
                        <li>
                            <a>ABOUT US</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <script src="static/js/vendor/jquery-1.11.2.min.js"></script>

	<script>
		$(function(){

			var user_update = function() {
				var data = JSON.stringify({
					type: "recommend",
					username: "123"
				})

				$.ajax({
					data: data,
					dataType: "json",
					type: "POST",
					success: function(result) {
						var users = eval(result);
						var i = 0;
						$(".user_detail").each(function(){
							if(users[i] == undefined) return false;
							$(this).find('img').attr('src', users[i].portrait);
							$(this).find('img').attr('href', "/user?id=" + users[i].username)
							$(this).find('p').html(users[i].nickname)
		                    i++;
						});
					}
				})
			}

			var thumb_update = function() {
				var data = JSON.stringify({
					type: "explore",
					username: "123"
				})

				$.ajax({
					data: data,
					dataType: "json",
					type: "POST",
					success: function(result) {
						var images = eval(result)
		                var i = 0;
						$(".thumb").each(function(){
							if(images[i] == undefined) return false;
							$(this).find('a').attr('href', images[i].img)
							$(this).find('h1').html(images[i].nickname+"<em>’s photo</em>")
							$(this).find('img').attr('src', images[i].img)
		                    i++;
						});
					}
				})
			}

		    $("#change-button").click(function(){
		    	user_update();
		    	thumb_update();
		    })
		})    
    </script>

    <script src="static/js/vendor/bootstrap.min.js"></script>

    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>

</body>
</html>