<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/templatemo-style.css">
</head>
<body class = "back">
    <div class = "login">
        <img src = "static/img/logo.png">
        <form action="" method="get">
            <div><input id="username" type="text" class="form_input" placeholder="账号"/></div>
            <div><input id="password" type="password" class="form_input" placeholder="密码"/></div>
            <div><button id="login-button" class = "login-button">登录</button></div>
            <div class="demo_line_05">———————<span>或</span>———————</div>
            <div class="link_register"><nobr>没有账户？</nobr>
                <a href = "/register">注册</a>
            </div>
        </form>
    </div>

    <script src="static/js/vendor/jquery-1.11.2.min.js"></script>

    <!-- 登录操作相关 -->
    <script src="static/js/login.js"></script>
</body>
</html>