<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
     <link rel="stylesheet" href="static/css/templatemo-style.css">
    <link rel="stylesheet" href="static/css/register.css">
</head>
<body>
    <div class = "register">
     <img src = "static/img/logo.png">
        <form id="form-main" action="" method="post">
            <div><input id='id' type="text" class="form_input" placeholder="学号"/></div>
            <div><input id='username' type="text" class="form_input" placeholder="姓名"/></div>
            <div><input id='nikName' type="text" class="form_input" placeholder="昵称"/></div>
            <div id="gender">
                <select id="usergender">
                    <option value="M">男孩子</option>
                    <option value="F">女孩子</option>
                </select>
            </div>
            <div id="birth">
                <input id="userbirth" type="date" value="1998-06-01" />
            </div>

            <div><input id='password' type="password" class="form_input" placeholder="密码"/></div>
            <div><button id="register-button" class = "login-button" type="submit">登录</button></div>
            <div class="link_register"><nobr>有账户了？</nobr>
            <a href="/">请登录</a>
            </div>
        </form>
    </div>
    <script src="static/js/vendor/jquery-1.11.2.min.js"></script>
    <!-- 登录操作相关 -->
    <script>
        $(function(){
            $("#form-main").submit(function(){
                var data = JSON.stringify({
                    id : $("#id").val(),
                    nikName : $("#nikName").val(),
                    username : $("#username").val(),
                    password : $("#password").val(),
                    gender: $("#usergender option:selected").val(),
                    birthday: $("#userbirth").val()
                })

                $.ajax({
                    data: data,
                    dataType: "text",
                    type: "POST",
                    success: function(result) {
                        if(result == "1") {
                            window.location.href="explore?"+"username="+encodeURI($("#id").val());
                        }
                        else {
                            alert(result)
                        }
                    }
                })

                return false;
            })
        })
    </script>
</body>
</html>