<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
     <link rel="stylesheet" href="static/css/templatemo-style.css">
</head>
<body>
    <div class = "register">
     <img src = "static/img/logo.png">
      <form action="" method="get">
        <div><input type="text" class="form_input" placeholder="学号"/></div>
        <div><input type="text" class="form_input" placeholder="姓名"/></div>
        <div><input type="text" class="form_input" placeholder="昵称"/></div>
        <div><input type="text" class="form_input" placeholder="密码"/></div>
        <div><button class = "login-button">登录</button></div>
        <div class="link_register"><nobr>有账户了？</nobr>
        <a href="/">请登录</a>
        </div>
    </form>
    </div>
</body>
</html>